
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <h3 class="breadcrumb-header">Quên mật khẩu</h3>
                <ul class="breadcrumb-tree">
                    <li><a href="/Home/Index/">Trang chủ</a></li>
                    <li class="active">Quên mật khẩu</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->
<!-- Đăng nhập -->
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="wrap d-md-flex">
                    <div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center">
                        <div class="text w-100">
                            <h2>Bạn quên mật khẩu?</h2>
                            <p>Nhập email để nhận lại mật khẩu một cách nhanh chóng!</p>
                        </div>
                    </div>
                    <div class="login-wrap p-4 p-lg-5 order-md-last">
                        <div class="d-flex">
                            <div class="w-100">
                                <h1 class="mb-4">Quên mật khẩu</h1>
                            </div>
                            <div class="w-100">
                                <p class="social-media d-flex justify-content-end">
                                    <a href="#"
                                       class="social-icon d-flex align-items-center justify-content-center">
                                        <span class="fa fa-facebook"></span>
                                    </a>
                                    <a href="#"
                                       class="social-icon d-flex align-items-center justify-content-center">
                                        <span class="fa fa-twitter"></span>
                                    </a>
                                </p>
                            </div>
                        </div>
                        <form action="#" class="signin-form">
                            <div class="form-group mb-3">
                                <label class="label" for="name">Email</label>
                                <input type="text" class="form-control" placeholder="Nhập email"
                                       id="forgot_email" onblur="val_forgot_email()">
                            </div>

                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary submit px-3" onclick="checkrong_forgotpass()">
                                    Lấy lại mật
                                    khẩu
                                </button>
                            </div>
                            <div class="form-group d-md-flex">
                                <div class="w-50 text-left">

                                </div>
                                <div class="w-50 text-md-right">
                                    <a href="/Login/Login">Quay lại</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Đăng nhập-->
