@model IEnumerable<MobileDevice.Models.Color>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="main-content-container container-fluid px-4">
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <h3 class="page-title">Màu sắc</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card card-small mb-4">
                <div class="card-header border-bottom">
                    <h6 class="m-0">
                        <a href="/Admin/AdminColor/Create" class="mb-2 btn btn-success mr-2" role="button" aria-pressed="true">Thêm mới</a>
                    </h6>
                </div>
                <div class="card-body p-0 pb-3 text-center">
                    <table class="table mb-0">
                        <thead class="bg-light">
                            <tr>
                                <th scope="col" class="border-0">Màu sắc</th>
                                <th scope="col" class="border-0"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr id="row_@item.ID_Color">
                                    <td style="vertical-align: inherit">@Html.DisplayFor(modelItem => item.Name)</td>
                                    <td>
                                        <a href="/Admin/AdminColor/Edit/@item.ID_Color" class="mb-2 btn btn-warning mr-2" role="button" aria-pressed="true">Cập nhật</a>
                                        @*<a href="/Admin/AdminColor/Details/@item.ID_Color" class="mb-2 btn btn-info mr-2" role="button" aria-pressed="true">Chi tiết</a>*@
                                        <a class="delete-link mb-2 btn btn-danger mr-2" href="#" onclick="ConfirmDelete(@item.ID_Color)">Xóa</a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="Color">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Bạn có chắc muốn xóa màu này không?</h4>
            </div>
            <div class="modal-footer">

                <button type="submit" class="btn btn-primary" onclick="DeleteColor()">Đồng ý</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>

            </div>
        </div>
    </div>
    <input type="hidden" id="hidden" />
</div>
<script>
    var ConfirmDelete = function (Id_Color) {
        $("#hidden").val(Id_Color);
        $("#Color").modal('show');
    }

    var DeleteColor = function () {
        var carteId = $("#hidden").val();
        $.ajax({
            type: "POST",
            url: "/AdminColor/DeleteColor",
            data: { Id_Color: carteId },
            success: function (result) {
                $("#Color").modal('hide');
                $("#row_" + carteId).remove();
            }
        })
    }
</script>