
@{
    ViewBag.Title = "CartNull";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="text-align: center">
    <br /><br />
    <img src="~/wwwroot/img/cart-trong.png" alt="Không có sản phẩm trong giỏ hàng" />
    <br /><br />
    <p style="font-size: 25px; font-weight: bold">Không có sản phẩm trong giỏ hàng</p>
    <br />
    <a href="/Products/Index/" class="btn btn-danger" role="button" data-bs-toggle="button">Mua sắm ngay</a>
    <br /><br />
</div>

