
@{
    ViewBag.Title = "Introduce";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <h3 class="breadcrumb-header">Giới thiệu</h3>
                <ul class="breadcrumb-tree">
                    <li><a href="index.html">Trang chủ</a></li>
                    <li class="active">Giới thiệu</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->

<!-- Giới thiệu-->
<div class="container">
    <br />
    <h1 style="text-align: center">SENDO - ỨNG DỤNG MUA SẮM THÔNG MINH</h1>
    <p style="padding-left: 25px">
        Ứng dụng <span style="color: red">mua sắm</span> duy nhất được bảo trợ bởi FPT, kết nối người mua và người bán cả nước.
        Với mong muốn phục vụ nhu cầu mua sắm trực tuyến cho tất cả người tiêu dùng trên khắp Việt Nam,
        ứng dụng Sendo có mọi thứ bạn cần, không chỉ giúp bạn sở hữu được những sản phẩm yêu thích với giá hợp
        túi tiền mà còn đem đến sự yên tâm và tiện lợi nhất khi mua sắm trực tuyến, mang lại cuộc sống đầy đủ hơn.
    </p>
    <h2>ỨNG DỤNG DUY NHẤT ĐƯỢC BẢO TRỢ BỞI FPT</h2>
    <p style="padding-left: 25px">
        Tháng 9/2012, Sendo ra mắt người tiêu dùng, xuất thân là một dự án Thương mại Điện tử do Công ty CP
        Dịch vụ Trực tuyến FPT (FPT online) phát triển. Ngày 13/5/2014, Công ty CP Công nghệ Sendo được thành lập,
        trực thuộc Tập đoàn FPT, là đơn vị chủ quản ứng dụng Sendo.
    </p>
    <h2>SIÊU NHIỀU HÀNG HÓA</h2>
    <p style="padding-left: 25px">
        Ứng dụng Sendo mang đến bạn kho hàng siêu khủng với 29 ngành hàng thiết yếu, hơn 10 triệu sản phẩm
        từ cộng đồng shop lớn nhất Việt Nam với hơn 200.000 shop cho bạn thoả thích chọn mua.
    </p>
    <h2>MIỄN PHÍ ĐỔI TRẢ 48H</h2>
    <p style="padding-left: 25px">
        Bạn có thể yêu cầu đổi hoặc trả hàng trong vòng 48 tiếng đồng hồ kể từ khi nhận hàng nếu sản phẩm không đúng
        mô tả để Sendo bảo vệ quyền lợi mua sắm của bạn. Các bước trả hàng như sau:
    </p>
    <img src="~/wwwroot/img/about-sendo-update.png" style="display: block; margin-left: auto; margin-right: auto;" />
    <br />
    <h2>MIỄN PHÍ VẬN CHUYỂN TOÀN QUỐC</h2>
    <p style="padding-left: 25px">
        Từ 1/4/2018, Sàn TMĐT Sendo tuyên bố miễn phí vận chuyển toàn quốc để khách hàng thuận tiện hơn khi mua sắm.
        Mỗi đơn hàng chỉ cần có giá trị thanh toán từ 150.000 VNĐ trở lên sẽ được Miễn phí vận chuyển, với mức hỗ trợ tối
        đa 50.000VNĐ/ đơn hàng, áp dụng trên toàn quốc với tất cả các gói cước của tất cả các nhà vận chuyển.
    </p>
    <h2>
        SIÊU NHIỀU SỰ KIỆN VÀ KHUYẾN MÃI
    </h2>
    <p style="padding-left: 25px">
        Trên ứng dụng Sendo luôn ngập tràn các sự kiện và khuyến mãi hấp dẫn, giảm giá khủng, flash sale giá sốc để
        bạn thỏa mãn nhu cầu mua sắm mỗi ngày với giá hợp túi tiền.
    </p>
    <div class="row" style="text-align: center; height: 231px">
        <div class="col-md-3">
            <a href="/Home/Introduce" id="intro">
                <img src="~/wwwroot/img/sieunhieuhangtot.svg" style="width: 92px; height: 92px" />
                <h3>SIÊU NHIỀU HÀNG TỐT</h3>
                <p>Cần gì cũng có 26 ngành hàng & 10 triệu sản phẩm</p>
            </a>
        </div>

        <div class="col-md-3">
            <a href="/Home/Introduce" id="intro">
                <img src="~/wwwroot/img/sieuyentam.svg" style="width: 92px; height: 92px" />
                <h3>SIÊU YÊN TÂM</h3>
                <p>Miễn phí đổi trả 48h (*)</p>
            </a>
        </div>
        <div class="col-md-3">
            <a href="/Home/Introduce" id="intro">
                <img src="~/wwwroot/img/sieutienloi.svg" style="width: 92px; height: 92px" />
                <h3>SIÊU TIỆN LỢI</h3>
                <p>Mạng lưới vận chuyển toàn quốc, mua gì cũng có</p>
            </a>
        </div>
        <div class="col-md-3">
            <a href="/Home/Introduce" id="intro">
                <img src="~/wwwroot/img/sieutietkiem.svg" style="width: 92px; height: 92px" />
                <h3>SIÊU TIẾT KIỆM</h3>
                <p>Giá hợp lí, vừa túi tiền. Luôn có nhiều chương trình khuyến mãi</p>
            </a>
        </div>
    </div>
</div>
<style>
    #intro:hover {
        box-shadow: 1px 1px 5px 0px #c7c7cd;
    }

    #intro {
        width: 100%;
        height: 231px;
        display: block;
    }

        #intro img {
            margin-top: 24px;
        }
</style>
<!-- /Giới thiệu-->