@model MobileDevice.Models.Category

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div>

    <div class="main-content-container container-fluid px-4">
        <div class="page-header row no-gutters py-4">
            <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <span class="text-uppercase page-subtitle">Chi tiết</span>
                <h3 class="page-title">Danh mục sản phẩm</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card card-small mb-4">

                    <div class="card-body p-0 pb-3 text-center">
                        <table class="table mb-0">
                            <tbody>

                                <tr>
                                    <td style="vertical-align: inherit">Tên danh mục</td>
                                    <td>
                                        @Html.DisplayFor(model => model.Name)
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: inherit">Trạng thái</td>
                                    <td style="vertical-align: inherit">
                                        <div class="d-flex align-items-center">
                                            <label class="custom-control ios-switch"  style="margin: auto;">
                                                @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "ios-switch-control-input" } })
                                                <span class="ios-switch-control-indicator"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<p>
    <a href="/Admin/AdminCategory/Edit/@Model.ID_Category" class="mb-2 btn btn-success mr-2" role="button" 
       aria-pressed="true" style="margin-left: 26px;">Cập nhật</a>
    <a href="/Admin/AdminCategory/Index" class="mb-2 btn btn-info mr-2" role="button"
       aria-pressed="true" style=" position: relative; left: 5px;">Quay lại</a>
</p>
